# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
packages/web/build
packages/web/coverage
__sapper__
__build__
dist
*.tsbuildinfo

# configuration
.env
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
config.ts

# server e2e test
.mongodbpid
.mongodburi
.redispid
.redisuri
packages/server/cypress/screenshots/**/*(failed).png

# misc
.DS_Store
.expo/*
*.jks
*.key
*.mobileprovision
*.orig.*
*.p12
*.p8
report.*.json
npm-debug.*
npm-debug.log*
web-build/
web-report/
yarn-debug.log*
yarn-error.log
yarn-error.log*

# force include
!.vscode
