$primary: #f15b29; // upSwyng orange

@import "bulma/bulma.sass";

@import "bulma-badge/src/sass/index.sass";
@import "bulma-calendar/src/sass/index.sass";
@import "bulma-ribbon/dist/css/bulma-ribbon.sass";
@import "bulma-switch/dist/css/bulma-switch.sass";
@import "bulma-tagsinput/dist/css/bulma-tagsinput.sass";
@import "bulma-tooltip/src/sass/index.sass";
@import "bulma-timeline/src/sass/index.sass";
